// Imports
@import "../2-abstracts/abstracts";
.footer {
   color: white;
   width: 100%;
   font-size: 1em;
   height: 45em;

   // Top Section
   &__top-section {
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 75%;

      h1 {
         font-size: 2.25em;
         margin-bottom: 20px;
         color: white;
         @media screen and (min-width: 50em) {
            font-size: 3.5em;
         }
      }
      button svg {
         fill: #ec2341;
         &:hover {
            fill: white;
            color: white;
            cursor: url("../../assets/cursor.png"), auto;
         }
      }
      a {
         padding: 15px 40px;
      }
   }

   // Bottom Section
   &__bottom-section {
      background: #ec2341;
      .social-icons {
         a {
            border-style: none;
            &:hover {
               background: none;
            }
         }
      }

      height: 25%;
      @include col-center-items;
      svg {
         margin: 5px;
      }

      // Connect with me
      h2 {
         font-size: 1.25em;
         margin-bottom: 5px;
      }

      .copyright {
         font-size: 0.75em;
      }
   }
}
