// Imports
@import "../2-abstracts/abstracts";

header {
   .headroom-wrapper {
      // Content Wrapper
      width: 100%;
      font-size: 1em;
      .headroom {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         width: inherit;
         height: 60px;
         background: #0a0a0a;
         backdrop-filter: blur(10px);
         color: white;
         z-index: 9999;

         h1 {
            font-size: 1.2em;
            margin-left: 20px;
            font-family: $font2;
            padding: 5px 10px;
            span {
               font-family: $font1;
            }
         }
         a {
            border-style: none;
            &:hover {
               background: none;
               color: $accent;
            }
         }

         // Hamburger Button
         .hamburger-react {
            margin-right: 10px;
            &:hover {
               cursor: url("../../assets/cursor.png"), auto;
            }
         }
         // Navigation
         .main-nav {
            // List Items
            .main-nav__ul .main-nav__list-item {
               a {
                  transition: all 0.5s ease-out;
                  border-style: none;
                  &:hover {
                     color: $accent;
                  }
               }
            }
            @media screen and (max-width: 50em) {
               position: fixed;
               top: 60px;
               left: 0px;
               height: 100vh;
               width: 100%;
               z-index: 99;
               @include col-center-items;
               background: #0a0a0a;
               backdrop-filter: blur(10px);

               // List Items
               .main-nav__ul .main-nav__list-item {
                  margin-bottom: 10px;
                  font-size: 2em;
                  text-align: center;
               }
            }
         }

         // Line
         hr.menu-break {
            background: $accent;
            border: 3px solid $accent;
            height: 3px;
            width: 50px;
            margin: 10px auto 20px auto;
         }

         .menu-social-icons {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 125px;
         }
      }
   }
}
@media screen and (min-width: 50em) {
   header {
      .headroom-wrapper {
         .headroom {
            justify-content: space-around;
            h1 {
               margin-left: 0px;
            }
            // Hide the hamburger button in desktop view
            .hamburger-react {
               display: none;
            }
         }
      }
   }

   header {
      .headroom-wrapper {
         .headroom {
            .main-nav {
               width: 250px;
               position: static;
               display: block !important;
               &__ul {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-around;
                  align-items: center;
                  text-transform: lowercase;
                  .main-nav__list-item {
                     font-size: 1em;
                  }
               }
            }

            // Hide Line and Social Icoons
            .menu-break,
            .menu-social-icons {
               display: none;
            }
         }
      }
   }
}

.main-nav--active {
   display: flex !important;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   animation: slide-in-top 0.9s cubic-bezier(0.23, 1, 0.32, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-20 21:25:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@keyframes slide-in-top {
   0% {
      transform: translateY(60px);
      opacity: 0;
   }
   100% {
      transform: translateY(0);
      opacity: 1;
   }
}
