/*
-------------------------------------------
* Brand Colors
-------------------------------------------
*/
$col1: #2d2327;
$col2: #45364b;
$col3: #8c93a8;
$col4: #b5c2b6;
/*
-------------------------------------------
* Fonts
-------------------------------------------
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu:wght@500&display=swap");
$font1: "Ubuntu", sans-serif;
$font2: "Montserrat", sans-serif;

/*
-------------------------------------------
* Variables
-------------------------------------------
*/

/*
-------------------------------------------
* Mixins
-------------------------------------------
*/
@mixin col-center-items {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

@mixin row-center-items {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
