/*
-------------------------------------------
* Brand Colors
-------------------------------------------
*/
$col1: #2d2327;
$col2: #45364b;
$col3: #8c93a8;
$col4: #b5c2b6;
$accent: #ec2341;
$accent2: #202123;
$main_text: #202123;
$space_gray: #7c7c7c;

$galleryBorder: #202225;
$bannerBorder: rgb(24, 24, 24);
/*
-------------------------------------------
* Fonts
-------------------------------------------
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Monda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
$font1: "Ubuntu", sans-serif;
$font2: "Montserrat", sans-serif;
$logo1: "Julius Sans One", sans-serif;
$logo2: "Monda", sans-serif;

/*
-------------------------------------------
* Variables
-------------------------------------------
*/

/*
-------------------------------------------
* Mixins
-------------------------------------------
*/
@mixin col-center-items {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

@mixin row-center-items {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

@mixin normal-bg {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

@mixin mobile-border {
   border: 5px solid $bannerBorder;
   border-top: 20px solid $bannerBorder;
   border-bottom: 40px solid $bannerBorder;
   box-shadow: 0px 0px 0px 3px #303030;
   border-radius: 10px;
}

@mixin desktop-border-sm {
   border: 10px solid $galleryBorder;
   border-bottom: 25px solid $galleryBorder;
   border-radius: 5px;
}

@mixin desktop-border-lg {
   border: 15px solid $galleryBorder;
   border-bottom: 25px solid $galleryBorder;
}

@mixin mobile-banner-border {
   border: 5px solid $bannerBorder;
   border-top: 20px solid $bannerBorder;
   border-bottom: 40px solid $bannerBorder;
   box-shadow: 0px 0px 0px 3px #303030;
   border-radius: 10px;
}

@mixin desktop-banner-border {
   border: 10px solid $bannerBorder;
   border-bottom: 35px solid $bannerBorder;
   box-shadow: 0px 0px 0px 3px #303030;

   border-radius: 5px;
}

@mixin vertical-line {
   width: 5px;
   height: 50px;
   background: $accent;
   margin: 75px auto;
}
