/*
-------------------------------------------
* Buttons
-------------------------------------------
*/
a {
   padding: 7px 12px 7px 12px;
   background-color: transparent;
   color: white;
   border: 1px solid white;
   transition: all 0.5s ease-out;
   text-align: center;
   &:hover {
      // background: $accent;
      background: #ec2341;
      cursor: url("../../assets/cursor.png"), auto;

      border: 1px solid $accent;
   }
}

a:active,
a:focus {
   outline: none;
}

button {
   padding: 7px 12px 7px 12px;
   background-color: transparent;
   color: white;
   border: 1px solid white;
   transition: all 0.5s ease-out;
   &:hover {
      background: $accent;
      cursor: url("../../assets/cursor.png"), auto;
      border: 1px solid $accent;
   }
}

button:active,
button:focus {
   outline: none;
}

/*
-------------------------------------------
* Scroll Down Icon
-------------------------------------------
*/
@import "./scroll-down-icon";

/*
-------------------------------------------
* Social Widget
-------------------------------------------
*/
.fixed-social-icons {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: auto;
   position: fixed;
   right: 10px;
   bottom: 10px;
   z-index: 9999;
   transition: all 0.5s ease-out;
   a {
      border-style: none;
      &:hover {
         background: none;
         cursor: url("../../assets/cursor.png"), auto;
      }
   }
   @media screen and (min-width: 50em) {
      right: 20px;
      bottom: 20px;
   }
}

/*
-------------------------------------------
* Scroll Top
-------------------------------------------
*/
button.scroll-to-top-btn {
   border-style: none;
   margin-bottom: 45px;
   &:hover {
      border-style: none;
      cursor: url("../../assets/cursor.png"), auto;
   }
}
