/*
-------------------------------------------
* Buttons
-------------------------------------------
*/
a {
   padding: 7px 12px 7px 12px;
   background-color: transparent;
   border: 1px solid $accent2;
   color: $accent2;
   transition: all 0.3s ease-out;
   text-align: center;
   border-radius: 2px;
   &:hover {
      // background: $accent;
      background: rgba($accent2, 0.85);
      color: rgba(white, 0.8);
      border-color: transparent;
   }
}

a:active,
a:focus {
   color: $accent2;
}

button {
   padding: 7px 12px 7px 12px;
   background-color: transparent;
   color: white;
   border: 1px solid white;
   transition: all 0.5s ease-out;
   &:hover {
      background: $accent;
      border: 1px solid $accent;
   }
}

button:active,
button:focus {
   color: $accent;
}

/*
-------------------------------------------
* Scroll Down Icon
-------------------------------------------
*/
@import "./scroll-down-icon";

/*
-------------------------------------------
* Social Widget
-------------------------------------------
*/
.fixed-social-icons {
   display: none;
   a {
      border-style: none;
      &:hover {
         background: none;
      }
   }
   @media screen and (min-width: 50em) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: auto;
      position: fixed;
      right: 10px;
      bottom: 10px;
      z-index: 9999;
      transition: all 0.5s ease-out;
   }
}

.fixed-social-icons--off {
   display: none;
}

/*
-------------------------------------------
* Scroll Top
-------------------------------------------
*/
button.scroll-to-top-btn {
   border: 1px solid transparent;
   margin: 45px auto 45px auto;
   color: $space_gray;
   display: flex;
   flex-direction: row;
   align-self: center;
   justify-self: center;
   &:hover {
      border: 1px solid transparent;
      cursor: pointer;
      background: #2b2c30;
      svg {
         color: white;
      }
   }
}
