/*
-------------------------------------------
* Scroll Down Icon
-------------------------------------------
*/
@import "../2-abstracts/abstracts";

.scroll-downs {
   @include col-center-items;
   &:hover {
      cursor: url("../../assets/cursor.png"), auto;
      * {
         color: $accent;
         border-color: $accent;
      }
   }
   &__label {
      margin-top: 10px;
      font-size: 0.75em;
      text-align: center;
      width: 100%;
   }
}
.mousey {
   width: 3px;
   padding: 5px 8px;
   height: 20px;
   border: 2px solid #fff;
   border-radius: 25px;
   opacity: 0.75;
   box-sizing: content-box;
   display: flex;
   flex-direction: column;
   align-items: center;
   &:hover {
      background: transparent;
      border: 2px solid $accent;
      cursor: url("../../assets/cursor.png"), auto;
   }
}
.scroller {
   width: 5px;
   height: 5px;
   border-radius: 50%;
   background-color: $accent;
   animation-name: scroll;
   animation-duration: 2.2s;
   animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
   animation-iteration-count: infinite;
}
@keyframes scroll {
   0% {
      opacity: 0;
   }
   10% {
      transform: translateY(0);
      opacity: 1;
   }
   100% {
      transform: translateY(15px);
      opacity: 0;
   }
}
