/*
-------------------------------------------
* Imports
-------------------------------------------
*/
@import "./normalize";
@import "../2-abstracts/abstracts";
/*
-------------------------------------------
* Selectors
-------------------------------------------
*/
html {
   * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      font-size: 1em; // 16px
      font-family: $font2;
   }
   scroll-behavior: smooth;
}

body {
   background-color: black;
   min-width: 300px;
   width: 100%;
}

/*
-------------------------------------------
* Typography Rules
-------------------------------------------
*/

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: 2.5em;
   font-family: $font1;
}

a {
   text-decoration: none;
   color: white;
}

li {
   list-style-type: none;
}

p {
   line-height: 17px;
}
img {
   border-radius: 2px;
}
