/*
-------------------------------------------
* My Summary
-------------------------------------------
*/
.about {
   width: 100%;
   height: auto;
   color: white;
   font-size: 1em;

   // Global HR
   hr {
      border: 1px solid $accent;
      width: 50px;
      height: 5px;
      background: $accent;
      margin: 15px auto;
   }

   // My Summary
   .my-summary {
      @include col-center-items;

      // Portrait styles
      &__portrait {
         padding: 20px;
         img {
            max-width: 200px;
         }
      }

      // Text Content
      &__text {
         display: flex;
         flex-direction: column;
         justify-content: center;
         max-width: 550px;
         padding: 20px;

         .name {
            font-size: 1.75em;
            margin-bottom: 5px;
            color: $main_text;
            text-align: center;
         }

         .headline {
            font-family: $font2;
            font-size: 1.15em;
            line-height: 1.5;
            color: $main_text;
            text-align: center;
            margin: 0px;
         }

         p {
            margin-bottom: 15px;
         }
      }
      @media screen and (min-width: 50em) {
         &__text {
            max-width: 800px;
         }

         &__portrait img {
            max-width: 325px;
         }
      }

      @media screen and (min-width: 70em) {
         display: grid;
         grid-template-columns: 1fr 2fr;
         max-width: 1300px;
         margin: auto;
         height: 100vh;
         padding-bottom: 10%;

         .name,
         .headline {
            text-align: left;
         }
         hr {
            margin: 15px 0px;
         }
         &__portrait {
            @include col-center-items;
         }

         &__text {
            max-width: 800px;
            .name {
               font-size: 3.5em;
            }
            p {
               font-size: 1em;
            }
         }
      }
   }
   // .end of my summary

   // Artillery
   @import "./about-technical-skills";

   // Inspirations
   @import "./about-inspirations";
}
