/*
-------------------------------------------
* Technical Skills
-------------------------------------------
*/
@import "../2-abstracts/abstracts";
.artillery {
   font-size: 1em;
   margin-top: 100px;
   margin-bottom: 100px;

   // Target all selectors
   .col-development-stack,
   .col-technical-skills {
      padding: 30px;
      @include col-center-items;
      height: 250px;
      h3 {
         font-size: 1em;
         margin-bottom: 15px;
      }
      ul {
         li {
            font-size: 0.8em;
         }
      }

      // MQL
      @media screen and (min-width: 750px) {
         padding: 45px;
      }

      @media screen and (min-width: 50em) {
         height: 200px;
      }
   }

   // Development
   .col-development-stack {
      ul {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         grid-gap: 10px;
         li {
            color: white;
            text-align: center;
            @media screen and (min-width: 50em) {
               text-align: left;
            }
         }

         // MQL
         @media screen and (min-width: 440px) {
            grid-template-columns: repeat(3, 140px);
         }

         @media screen and (min-width: 50em) {
            grid-template-columns: repeat(3, 100px);
         }
      }
   }

   // Technical
   .col-technical-skills {
      ul {
         li {
            margin-bottom: 10px;
         }
      }
   }

   @media screen and (min-width: 50em) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      min-height: 600px;
      margin: 0px;
   }
}
