/*
-------------------------------------------
* Inspirations
-------------------------------------------
*/

.inspirations {
   padding: 15px;
   font-size: 1em;
   height: 60vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   @media screen and (min-width: 50em) {
      height: auto;
      padding-top: 159px;
      padding-bottom: 150px;
   }

   // Title
   h4 {
      margin-bottom: 15px;
      max-width: 800px;
      @media screen and (min-width: 50em) {
         margin: auto auto 0px auto;
         font-size: 4.5em;
      }
   }

   // Inspirations List
   ul {
      max-width: 800px;
      @media screen and (min-width: 50em) {
         margin: auto;
      }

      li {
         font-size: 3em;
         width: 100%;
         color: $accent;
         height: 200px;
         cursor: grab;
         @media screen and (min-width: 50em) {
            font-size: 5em;
         }
      }
   }
}
