/*
-------------------------------------------
* My Summary
-------------------------------------------
*/
.about {
   width: 100%;
   height: auto;
   color: white;
   font-size: 1em;
   // Global HR
   hr {
      border: 1px solid $accent;
      width: 50px;
      height: 5px;
      background: $accent;
      margin: 15px 0px;
   }

   // My Summary
   .my-summary {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      &__text,
      &__portrait {
         max-width: 550px;
         padding: 35px;
      }

      // Text Content
      &__text {
         display: flex;
         flex-direction: column;
         justify-content: center;

         .name {
            font-size: 1.5em;
            margin-bottom: 10px;
         }

         .headline {
            font-family: $font2;
            font-size: 0.9em;
            font-style: italic;
         }

         p {
            font-size: 0.8em;
            margin-bottom: 15px;
         }
      }

      // Portrait
      &__portrait {
         @include col-center-items;
         img {
            width: 75%;
            max-width: 550px;
            height: auto;
            margin: auto;
            box-shadow: 10px 10px rgba(#ec2341, 0.2), -10px -10px rgba(#af1036, 0.75);

            // MQL
            @media screen and (min-width: 50em) {
               box-shadow: 25px 30px rgba(#ec2341, 0.2), -35px -15px rgba(#af1036, 0.75);
            }
         }
      }

      @media screen and (min-width: 75em) {
         max-width: 1150px;
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         justify-items: center;
         align-items: flex-start;
         margin: auto;
         height: 100vh;
         padding-bottom: 175px;
         &__text,
         &__portrait {
            height: 100%;
         }

         &__text {
            .name {
               font-size: 3.5em;
            }
            p {
               font-size: 0.85em;
            }
         }
      }
   }
   // .end of my summary

   // Artillery
   @import "./about-technical-skills";

   // Inspirations
   @import "./about-inspirations";
}
