/*
-------------------------------------------
* My Summary
-------------------------------------------
*/
.about {
   width: 100%;
   height: auto;
   color: white;
   font-size: 1em;
   // Global HR
   hr {
      border: 1px solid $accent;
      width: 50px;
      height: 5px;
      background: $accent;
      margin: 15px 0px;
   }

   // My Summary
   .my-summary {
      @include col-center-items;
      height: 100vh;

      &__text,
      &__portrait {
         max-width: 550px;
         padding: 20px;
      }

      // Text Content
      &__text {
         display: flex;
         flex-direction: column;
         justify-content: center;

         .name {
            font-size: 1.75em;
            margin-bottom: 10px;
         }

         .headline {
            font-family: $font2;
            font-size: 0.85em;
            line-height: 1.5;
            font-style: italic;
         }

         p {
            margin-bottom: 15px;
         }
      }

      // Portrait
      &__portrait {
         @include col-center-items;
         img {
            width: 75%;
            max-width: 550px;
            height: auto;
            margin: auto;
         }
      }

      @media screen and (min-width: 75em) {
         max-width: 1150px;
         margin: auto;
         height: 100vh;
         padding-bottom: 10%;
         x &__text,
         &__portrait {
            height: 100%;
         }

         &__text {
            max-width: 800px;
            .name {
               font-size: 3.5em;
            }
            p {
               font-size: 1em;
            }
         }
      }
   }
   // .end of my summary

   // Artillery
   @import "./about-technical-skills";

   // Inspirations
   @import "./about-inspirations";
}
