.single-project-info-portfolio {
   font-size: 1em;

   // Inspo
   div.inspo-gallery-text {
      width: 100%;
      max-width: 800px;
      margin: auto;
      h4 {
         font-size: 1.5em;
      }
      @include col-center-items;
   }
   .inspo-gallery {
      padding: 20px;
      width: 100%;
      height: auto;
      @include col-center-items;
      @media screen and (min-width: 50em) {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         grid-gap: 20px;
         max-width: 1350px;
         margin: auto;
      }

      img {
         width: 100%;
         max-width: 600px;
         margin-bottom: 15px;
      }
   } // end of gallery

   .portfolio-goals {
      width: 100%;
      max-width: 800px;
      margin: auto;
      padding: 20px;
      height: 30em;
      @include col-center-items;
      @media screen and (min-width: 50em) {
         height: 40em;
      }
      &__excerpt {
         font-size: 1.25em;
         line-height: 1.5em;
         margin-bottom: 10px;
      }

      &__list {
         width: 100%;
         max-width: 500px;
         margin: 0px auto;
         li {
            margin: 25px auto;
            line-height: 1.5;
            @media screen and (min-width: 50em) {
               margin: 30px auto;
            }
            span {
               font-family: $font1;
               color: $accent;
               font-size: 2em;
            }
         }
      }
   } // end of goals

   // Content Plan
   .content-plan {
      @include col-center-items;
      max-width: 800px;
      margin: auto;
      padding: 20px;
      h4 {
         text-align: center;
         font-size: 1.5em;
      }
      p {
         max-width: 750px;
         margin: 0px auto 25px auto;
      }

      img {
         width: 100%;
         max-width: 750px;
      }

      // Example of content plan
      &__sample {
         max-width: 750px;
         margin: auto;
         @media screen and (min-width: 50em) {
            padding: 25px;
         }
         h5 {
            font-size: 1.2em;
            margin-bottom: 5px;
         }
         ul {
            padding-left: 30px;
            li {
               list-style-type: lower-roman;
               margin-bottom: 5px;
            }
         }
      } // end of sample of content plan
   }

   .portfolio-wireframes {
      padding: 20px;
      max-width: 1250px;
      margin: auto;
      h4 {
         font-size: 1.5em;
         margin-bottom: 10px;
      }
      > div {
         @include col-center-items;

         // MQL
         @media screen and (min-width: 50em) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 15px;
         }

         img {
            width: 100%;
            height: auto;
            margin-bottom: 20px;

            // MQL
            @media screen and (min-width: 50em) {
               margin-bottom: 0px;
            }
         }
      }
   }

   .development-example {
      padding: 20px;
      max-width: 1250px;
      margin: auto;
      @include col-center-items;

      &__caption {
         line-height: 1.25em;
      }
      .code-snippet {
         height: 750px;
         width: 100%;
         @include col-center-items;
         max-width: 1250px;
      }
   }
} // end of single portfolio project container
