// Imports
@import "../2-abstracts/abstracts";

// Container Styling
.splash {
   color: black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 1em;
   padding: 0px 20px;
   width: 100%;
   margin: auto;
   height: 100vh;
   min-height: 30em;
   padding-bottom: 20%;

   // MQL
   @media screen and (min-width: 50em) {
      height: 100vh;
      padding-bottom: 0%;
   }
}

.splash .splash-text-container {
   width: 100%;
   height: 12em;
   max-width: 500px;

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding-left: 10%;
   margin-bottom: 15%;

   // Long tagline text container
   &__tagline {
      color: $accent;
      margin-bottom: 15px;
      font-size: 1.5em;
      line-height: 1.15;
   }

   // Titles/Roles
   p {
      margin-bottom: 25px;
      font-size: 0.8em;
   }

   .splash-button-container {
      a {
         font-size: 0.75em;
         border: 1px solid $space_gray;
         color: $space_gray;
         transition: all 0.3s ease-in-out;
         &:hover {
            cursor: url("../../assets/cursor.png"), auto;
            color: rgba(white, 0.7);
            border: 1px solid white;
         }
      }
   }

   // MQL for text container
   @media screen and (min-width: 500px) {
      padding-left: 15%;
      margin-bottom: 150px;
   }

   @media screen and (min-width: 25em) {
      &__tagline {
         font-size: 2em;
      }
      p {
         font-size: 1.25em;
      }

      .splash-button-container {
         a {
            font-size: 0.9em;
         }
      }
   }

   @media screen and (min-width: 50em) {
      max-width: 900px;
      padding: 0px 0px 0px 10%;
      &__tagline {
         font-size: 3em;
      }
   }

   @media screen and (min-width: 80em) {
      max-width: 1250px;
      &__tagline {
         font-size: 4em;
         width: 100%;
      }
   }
} // end of text content container
