// Imports
@import "../2-abstracts/abstracts";

// Container Styling
.splash {
   color: white;
   @include col-center-items;
   font-size: 1em;
   padding: 25px;
   width: 100%;
   margin: auto;
   height: 100vh;
   min-height: 50em;
   @media screen and (min-width: 500px) {
      padding: 75px;
   }
}

.splash .splash-text-container {
   margin-bottom: 100px;
   &__tagline {
      margin-bottom: 10px;
      font-size: 2em;
   }

   &__excerpt {
      font-size: 0.9em;
      margin-bottom: 20px;
   }

   &__btn {
      margin-bottom: 50px;
      font-size: 0.9em;
   }

   @media screen and (min-width: 50em) {
      &__tagline {
         font-size: 3em;
      }
   }
}
