// Imports
@import "../2-abstracts/abstracts";

// Container Styling
.splash {
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 1em;
   padding: 0px 35px;
   width: 100%;
   margin: auto;
   height: 35em;
   @media screen and (min-width: 50em) {
      height: 45em;
   }
}

.splash .splash-text-container {
   width: 100%;
   height: 12em;
   max-width: 500px;
   margin-bottom: 100px;

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding-left: 25px;

   // Long tagline text container
   &__tagline {
      color: $accent;
      margin-bottom: 5px;
      font-size: 1.5em;
      line-height: 1.25em;
   }

   // Titles/Roles
   p {
      font-size: 0.75em;
      margin-bottom: 25px;
   }

   .splash-button-container {
      a {
         font-size: 0.75em;
      }
   }

   @media screen and (min-width: 25em) {
      &__tagline {
         font-size: 2em;
      }
      p {
         font-size: 0.9em;
      }

      .splash-button-container {
         a {
            font-size: 0.9em;
         }
      }
   }

   @media screen and (min-width: 50em) {
      max-width: 750px;
      padding-left: 125px;
      &__tagline {
         font-size: 3em;
      }
   }
}
