// Imports
@import "../2-abstracts/abstracts";

/*
-------------------------------------------
* Global Project Items
-------------------------------------------
*/
.project-item {
   @include col-center-items;
   font-size: 1em;
   height: auto;
   padding: 45px 0px;

   // Banner
   &__banner {
      &--mobile {
         width: 60%;
         max-width: 200px;
         @include mobile-banner-border;
      }
      &--desktop {
         display: none;
      }
   }

   // Information
   &__text-content {
      color: white;
      padding: 25px;
      max-width: 450px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;

      &__name {
         font-size: 1.25em;
         margin-bottom: 10px;
         display: flex;
         flex-direction: row;
         align-items: flex-end;
         .accent-bar {
            display: none;
            @media screen and (min-width: 500px) {
               display: block;
               width: 30px;
               height: 3px;
               background: $accent;
               margin-left: 5px;
            }
         }
      }
      &__excerpt {
         margin-bottom: 20px;
         font-size: 0.8em;
      }
      &__cta {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 100%;

         .cta-btn {
            width: 100%;
            max-width: 250px;
            font-size: 0.9em;
            margin: 5px 0px;
         }

         @media screen and (min-width: 450px) {
            flex-direction: row;
            justify-content: flex-start;
            .cta-btn {
               width: auto;
               margin: 0px 10px 0px 0px;
            }
         }
      }
   }

   @media screen and (min-width: 40em) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      &__banner {
         &--mobile {
            margin-left: 20px;
         }
         &--desktop {
            margin-left: 20px;
         }
      }

      &__text-content {
         max-width: 500px;
      }
   }
   @media screen and (min-width: 75em) {
      height: 700px;
      &__banner {
         &--mobile {
            display: none;
         }
         &--desktop {
            display: block;
            width: 50%;
            max-width: 600px;
            min-width: 400px;
            height: auto;
            @include desktop-banner-border;
         }
      }
   }
}
