// Imports
@import "../2-abstracts/abstracts";

/*
-------------------------------------------
* Global Project Items
-------------------------------------------
*/
.project-item {
   @include col-center-items;
   font-size: 1em;
   width: 100%;
   height: 600px;
   padding: 45px 0px;
   margin: 25px 0px;

   // Banner
   &__banner {
      &--desktop {
         width: 100%;
         max-width: 450px;
         margin: auto;
         padding: 0px 0px 0px 20px;
         height: auto;
         filter: drop-shadow(-5px 5px 10px rgb(160, 154, 154));
      }
   }

   // Information
   &__text-content {
      color: $main_text;
      padding: 25px;
      max-width: 450px;
      width: 100%;
      position: relative;
      top: -12%;
      @include col-center-items;
      @media screen and (min-width: 450px) {
         justify-content: flex-start;
         align-items: flex-start;
      }

      &__name {
         font-size: 1.25em;
         margin-bottom: 10px;
         display: flex;
         flex-direction: row;
         align-items: flex-end;
         @media screen and (min-width: 50em) {
            font-size: 1.5em;
         }

         .accent-bar {
            display: none;
            @media screen and (min-width: 450px) {
               display: block;
               width: 30px;
               height: 3px;
               background: $accent;
               margin-left: 5px;
            }
         }
      }
      .stack-list {
         display: flex;
         flex-direction: row;
         justify-content: flex-start;
         flex-wrap: wrap;
         align-items: center;
         margin-bottom: 5px;
         .stack-list-item {
            margin: 0px 8px 8px 0px;
            padding: 4px 7px;
            border-radius: 3px;
            background: $main_text;
            color: rgba(white, 0.85);
            font-size: 0.85em;
         }
      }
      &__excerpt {
         margin-bottom: 20px;
         line-height: 1.35;
      }
      &__cta {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 100%;

         .cta-btn {
            width: 100%;
            max-width: 250px;
            margin: 5px 0px;
            padding: 15px 0px;
            &:hover {
               border: 1px solid $accent;
            }
         }

         @media screen and (min-width: 50em) {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            width: auto;
            .cta-btn {
               width: auto;
               margin: 0px 10px 0px 0px;
               padding: 10px 20px;
            }
         }
      }
   }

   @media screen and (min-width: 50em) {
      height: 350px;
      margin-bottom: 100px;
      @include row-center-items;
      &__banner {
         &--desktop {
            margin: 0px 0px 0px 35px;
         }
      }

      &__text-content {
         max-width: 500px;
         position: static;
      }
   }
   @media screen and (min-width: 75em) {
      height: 500px;
      &__banner {
         &--desktop {
            max-width: 750px;
         }
      }
      &__text-content {
         position: relative;
         top: 75px;
      }
   }
}
